<div class="container-fluid backy2">
	<!--MC -->			
    <div class="container padtop26 padbottom16">
		<div class="cta-mail">
		    <div class="row text-center">
		    	<div class="col-md-8 col-centered">
			        <h2>Want more Bootstrap themes &amp; templates?</h2>
			        <h4>Subscribe to our mailing list to receive an update when new items arrive!</h4>
			        <div id="mc_embed_signup">
			            <form role="form" action="//bootstrapbase.us13.list-manage.com/subscribe/post?u=c0dd4d0ebdd0685caf0f1822b&amp;id=78807eb206" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
			                <div class="input-group input-group-lg">
			                    <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Your Email address...">
			                    <span class="input-group-btn">
			                        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">Subscribe!</button>
			                    </span>
			                </div>
			                <div id="mce-responses">
			                    <div class="response" id="mce-error-response" style="display:none"></div>
			                    <div class="response" id="mce-success-response" style="display:none"></div>
			                </div>
			            </form>
			        </div>
		        </div>
		        <!-- End MailChimp Signup Form -->
		    </div>
		</div>
    </div><!--/MC-->
</div><!-- container-fluid -->            


<footer>
	<p class="text-center small">&copy; 2016 BootstrapBase.com</p>
</footer>