<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{site.url}}">Bootstrap Base</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Our Collection of Layouts">Layouts <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">
                            Trending Templates:
                        </li>
                        <li>
                            <a href="/template-categories/new"><i class="fa fa-star fa-fw"></i> Newest</a>
                        </li>
                        <li>
                            <a href="/template-categories/popular"><i class="fa fa-star fa-fw"></i> Most Popular</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">
                            Templates by Category:
                        </li>
                        <li>
                            <a href="/template-categories/starter"><i class="fa fa-star fa-fw"></i> Starter Templates</a>
                        </li>
                        <li>
                            <a href="/template-categories/blog-templates"><i class="fa fa-star fa-fw"></i> Blog Templates</a>
                        </li>
                        <li>
                            <a href="/template-categories/portfolio"><i class="fa fa-star fa-fw"></i> Portfolio Templates</a>
                        </li>
                        <li>
                            <a href="/template-categories/three-column"><i class="fa fa-star fa-fw"></i> Three-col Templates</a>
                        </li>
                        <li>
                            <a href="/template-categories/all"><i class="fa fa-star fa-fw"></i> All Templates</a>
                        </li>
                    </ul>
                </li>
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Our Collection of Video Courses">Video Courses <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">
                            Trending Courses:
                        </li>
                        <li>
                            <a href="/video-courses/newest"><i class="fa fa-star fa-fw"></i> Newest</a>
                        </li>
                        <li>
                            <a href="/video-courses/most-popular"><i class="fa fa-star fa-fw"></i> Most Popular</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">
                            Courses by Category:
                        </li>
                        <li>
                            <a href="/video-courses/bootstrap"><i class="fa fa-star fa-fw"></i> Bootstrap</a>
                        </li>
                        <li>
                            <a href="/video-courses/photoshop"><i class="fa fa-star fa-fw"></i> Photoshop</a>
                        </li>
                        <li>
                            <a href="/video-courses/illustrator"><i class="fa fa-star fa-fw"></i> Illustrator</a>
                        </li>
                        <li>
                            <a href="/video-courses/development"><i class="fa fa-star fa-fw"></i> General Development</a>
                        </li>
                    </ul>
                </li>-->
                <li>
                    <a href="/about" title="About Bootstrapbase">About</a>
                </li>
                <li>
                    <a href="/contact" title="Contact Us">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/blog" title="Boostrapbase blog">Blog</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
