<div class="container-fluid padbottom16 backy2">
	<div class="container">
		<div class="cta-mail">
		    <div class="row text-center">
		    	<div class="col-md-8 col-centered">
			        <h2>Want more Bootstrap themes &amp; templates?</h2>
			        
			        <div id="mc_embed_signup">
			            <form role="form" action="//passiveincomestory.us14.list-manage.com/subscribe/post?u=4ba548bf2db1d4b0252644b50&amp;id=a7389010ee" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
			                <div class="input-group input-group-lg">
			                    <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Your Email address...">
			                    <span class="input-group-btn">
			                        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">Subscribe!</button>
			                    </span>
			                </div>
			                <div id="mce-responses">
			                    <div class="response" id="mce-error-response" style="display:none"></div>
			                    <div class="response" id="mce-success-response" style="display:none"></div>
			                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4ba548bf2db1d4b0252644b50_a7389010ee" tabindex="-1" value=""></div>
					    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
					    </div>
					</form>
			        </div>
		        <h4>Subscribe to our mailing list to receive an update when new items arrive!</h4></div>
		        <!-- End MailChimp Signup Form -->
		    </div><!-- row text-center -->
		</div><!-- cta-mail -->
	</div><!-- container -->
</div><!-- container-fluid -->