<!DOCTYPE html>
<html lang="en">

<head>
{% include head.html %}
</head>

<body id="page-top">

<!-- Nav -->
{% include nav.html %}
    
<div class="container-fluid backy">
    <div class="row">
		<div class="container padbottom16">
			<div class="col-xs-12 col-sm-12">  
				<div class="col-lg-8 col-md-12 whitetext">
		            <h1>Our Blog</h1>
		        </div><!-- Free templates intro -->

			</div><!-- free templates and ad wrapper -->
		</div><!-- container -->
	</div><!-- row -->
</div><!-- fluid container -->


    {{ content }}


<!-- Footer -->
{% include footer.html %}
{% include javascript.html %}