<!DOCTYPE html>
<html lang="en">

<head>
{% include head.html %}
</head>

<body id="page-top">

    {% include nav.html %}
    
<div class="container-fluid backy">

    <div class="row">
		<div class="container">
			<div class="col-xs-12 col-sm-12">  
				<div class="col-lg-8 col-md-12 whitetext">
		            <h1>How to Make Passive Income?</h1>
			            <p>This website will teach you how to:
							<ul class="largerp">
								<li>Use your limited resorces,</li>
								<li>get into the right mind set,</li>
								<li>find profitable ideas,</li>
								<li>...and succeed in making passive income your reality!</li>
							</ul>
						</p>

		        </div><!-- Free templates intro -->
				<div class="col-lg-4 col-md-12 text-right"><br>
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- layoutschool1 -->
					<ins class="adsbygoogle"
					     style="display:inline-block;width:300px;height:250px"
					     data-ad-client="ca-pub-5779404885491678"
					     data-ad-slot="2124111534"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
					<br><br>
				</div><!-- ad column -->
			</div><!-- free templates and ad wrapper -->
		</div><!-- container -->
	</div><!-- row -->
</div><!-- fluid container -->



    {{ content }}


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/js/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ site.baseurl }}/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{{ site.baseurl }}/js/offcanvas.js"></script>
  </body>
</html>