---
layout: blog-post
---
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <article class="post">
      
        <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>
        </header>
      
        <div class="post-content">
          {{ content }}
        </div>
      
      </article>
    </div><!-- col lg 8 -->
    
    <div class="col-sm-4">
      <div style="margin:20px auto !important">
    		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    		<!-- layoutschool1 -->
    		<ins class="adsbygoogle"
    		     style="display:inline-block;width:300px;height:250px"
    		     data-ad-client="ca-pub-5779404885491678"
    		     data-ad-slot="2124111534"></ins>
    		<script>
    		(adsbygoogle = window.adsbygoogle || []).push({});
    		</script>
  		</div>
      <div class="padtop26 padbottom16">
    		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    		<!-- layoutschool1 -->
    		<ins class="adsbygoogle"
    		     style="display:inline-block;width:300px;height:250px"
    		     data-ad-client="ca-pub-5779404885491678"
    		     data-ad-slot="2124111534"></ins>
    		<script>
    		(adsbygoogle = window.adsbygoogle || []).push({});
    		</script>
  		</div>
    </div><!-- col lg 4 -->
  </div><!-- row -->
</div>

<!-- Footer -->
{% include footer.html %}
